# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# PyCharm
.idea/

# Reports
reports/

# Screenshots
screenshots/

# OS files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# Environment files
.env

# Logs
*.log